.collection-preview {
	.preview {
		margin-bottom: 60px;
	}

	.title {
		position: relative;
		margin: 2rem auto;
		padding-bottom: 1rem;
		font-size: 2.5rem;
		font-family: var(--font-family-special);
		font-weight: 400;
		color: var(--c-primary-text);
		width: fit-content;
		transform: rotate(-5deg);
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 50%;
			transform: translateX(-50%);
			border-bottom: 4px solid var(--c-primary);
			z-index: -1;
		}
	}

	.viewAll {
		margin: auto;
		margin-top: 2rem;
		width: fit-content;
	}

	.items {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, 250px);
		gap: 2rem;
		justify-content: center;
	}
}
