.signin-and-signup-page {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 100px);
	background-color: var(--c-white);

	.card {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'left right';
		gap: 0;
		width: 100%;
		max-width: 1024px;
		min-height: 600px;
		box-shadow: 0px 3px 15px var(--box-shadow-color);
		overflow: hidden;
		.card-media {
			position: relative;
			width: 100%;
			height: 100%;
			background: linear-gradient(#ffc4009a, #000000cb),
				url(../../assets/images/signin-bg.jpg) no-repeat;
			background-size: 200%;
			background-position: center center;
			transform: scale(1);
		}
		.card-content {
			padding: 2rem 2rem 4rem;
			position: relative;
			display: flex;
			flex-direction: column;
			margin: auto;

			.card-action {
				height: 50px;
				margin-top: 1.5rem;

				a {
					margin-left: 0.5rem;
					color: var(--c-primary);
				}
			}
		}
		@media only screen and (max-width: '720px') {
			grid-template-columns: 1fr;
			.card-media {
				display: none;
			}
		}
	}
}
