.text-field,
.text-field.large {
	height: 45px;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	border: 1px solid var(--c-silver);
	border-radius: 0.15rem;
	background-color: var(--c-white);
	margin: 0.5rem 0;

	&.disabled {
		background-color: var(--c-bright-gray);
	}
	&.error {
		border-color: var(--c-danger);
	}

	.text-field__icon {
		margin-right: 1rem;
		width: 1.35rem;
		height: 1.35rem;
		line-height: 0;
		overflow: hidden;
		opacity: 0.7;
	}

	.text-field__input {
		height: 100%;
		flex: 1;
		border: none;
		font-size: 1rem;
		background-color: transparent;
		&:focus {
			outline: none;
		}
		&::placeholder {
			opacity: 0.65;
		}

		&:disabled {
			background-color: transparent;
		}
	}
}

.text-field.small {
	height: 35px;
	width: 250px;
	padding: 0.25rem;
	margin: 0.25rem 0;

	.text-field__icon {
		margin-right: 0.5rem;
		width: 0.85rem;
		height: 0.85rem;
	}

	.text-field__input {
		height: 100%;
		flex: 1;
		border: none;
		font-size: 0.75rem;
	}
}
