footer {
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0;
	width: 100%;
	display: flex;
	padding: 0 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	background-color: var(--c-bright-gray);
	overflow: hidden;

	.copyright {
		font-size: 1rem;
		span {
			font-size: 1.15rem;
		}
	}

	.app-logo {
		height: 40px;
	}

	.payment-list {
		display: flex;
		.payment-list-item {
			width: 34px;

			img {
				width: 100%;
			}
		}
		.payment-list-item:not(:last-child) {
			margin-right: 8px;
		}
	}
}

@media only screen and (max-width: '600px') {
	footer {
		padding-left: 16px;
		padding-right: 16px;
		.app-logo {
			display: none;
		}

		.payment-list .payment-list-item {
			margin-right: 10px;
			img {
				width: 100%;
			}
		}
	}
}
