.collection-preview {
	.preview {
		margin-bottom: 60px;
	}

	.title {
		margin: 0 auto 2rem;
		width: fit-content;
	}

	.viewAll {
		display: block;
		width: fit-content;
		margin: 1rem auto 0 auto;
	}

	.items {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, 250px);
		gap: 2rem;
		justify-content: center;
	}
}
