.product-details {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 3rem;

	overflow: hidden;
	.image-wrap {
		flex: 1;
		height: 100%;
		min-width: 280px;
		max-width: 600px;
		text-align: center;
		overflow: hidden;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.content {
		flex: 1;
		max-width: 300px;
		min-width: 300px;
		padding: 1rem;
		line-height: 1.5;
		overflow: hidden;
		.name {
			font-weight: 200;
			margin-bottom: 0;
			color: var(--c-primary-text);
		}
		.price {
			margin-top: 0.5rem;
			font-weight: 200;
			color: var(--c-primary-text);
		}
		.stock {
			font-weight: 500;
			color: var(--c-danger);
			span {
				margin-right: 0.5rem;
			}
		}

		.btn-addToBag {
			width: 100%;
			margin-top: 2rem;
		}
		.divider {
			margin: 2rem 0;
		}
		.details {
			margin-top: 1rem;
			.detail {
				font-size: 0.9rem;
				font-weight: 200;
				text-transform: capitalize;
				span {
					width: 80px;
					margin-right: 0.5rem;
					display: inline-block;
				}
			}
			p {
				font-size: 0.9rem;
			}
		}
	}
}
