header {
	position: fixed;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	display: flex;
	color: var(--c-dark);
	background-color: var(--c-white);
	z-index: 5;

	.app-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 32px;
		height: 100%;
		width: 50px;
		img {
			height: 46px;
		}
	}

	.nav-menu {
		height: 100%;
		flex: 1;
		display: flex;
		justify-content: flex-end;
		padding-left: 32px;
		padding-right: 32px;

		.nav-item {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.15rem;

			a {
				color: inherit;
			}
		}
	}
}
