.button {
	padding: 0.375em 0.75em;
	font-size: 1rem;
	font-weight: 400;
	color: var(--c-secondary-text);
	background-color: var(--c-gainsboro);
	border: 1px solid transparent;
	border-radius: 0.15rem;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;

	&:not(:disabled):not(.disabled) {
		cursor: pointer;
	}

	&:hover {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
	}
	&:focus {
		outline: none;
	}

	&.primary {
		background-color: var(--c-primary);
		color: var(--c-white);
	}
	&.secondary {
		background-color: var(--c-secondary);
		color: var(--c-white);
	}
	&.dark {
		color: var(--c-white);
		background-color: var(--c-dark);
	}
	&.light {
		color: var(--c-secondary-text);
		background-color: var(--c-light);
	}

	&.large {
		padding: 0.5rem 1rem;
		font-size: 1.25rem;
		line-height: 1.5;
	}

	&.small {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
		line-height: 1.5;
	}
}
